<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>UCO-i02vimod</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lunr/lunr.min.js"></script>
</head>
<body>
  <div id="top-bar">
					<ul id="idiomas">
						<li class="activo"><a href="/resultadosBusqueda.html">ES</a></li>
						<li><a href="/en/resultadosBusqueda-en.html">EN</a></li>
					</ul>
					<div id="buscar">
            <a class="boton-buscar"></a>
            <label for="q" style="display:none">Buscar</label>
            <input type="text" size="10" placeholder="" name="q" id="searchInput">
            <input type="button" value="{% trans %}Buscar{% endtrans %}" class="btn-buscar" id="searchButton" onclick="buscarYRedirigir('{{article.lang}}')">
        </div>
        <!-- <div id="searchResults" class="nav justify-content-center"></div> -->
      </div>

  <!-- Botones de enlace a páginas externas -->
  <div class="external-buttons">
    <a href="/index.html"><img src="/theme/images/asset0.png" alt="Botón 1"></a>
    <a href="/acercanuevo.html"><img src="/theme/images/asset1.png" alt="Botón 2"></a>

  </div>

  <nav class="row" id="menu-principal"><div id="menu-button" style="display: block;" bis_skin_checked="1">Menú</div>
    <ul class="open">
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Conoce la UCO{% endtrans %}</a>
        <ul style="display: block;">
          {% if article.lang == 'es' %}
            <li><a href="/historia.html">{% trans %}Historia{% endtrans %}</a></li>
          {% else %}
            <li><a href="/en/historia-en.html">{% trans %}Historia{% endtrans %}</a></li>
          {% endif %}
          <li class="has-sub"><span class="submenu-button"></span><a href="">{% trans %}Organización institucional{% endtrans %}</a>
            <ul style="display: block;">
              <li><a href="organizacion-institucional-equipo-gobierno.html">{% trans %}Equipo de Gobierno{% endtrans %}</a></li>
              <li><a href="organizacion/consejogobierno">{% trans %}Consejo de Gobierno{% endtrans %}</a></li>
              <li><a href="organizacion/secretariageneral/claustro-universidad">{% trans %}Claustro{% endtrans %}</a></li>
              <li><a href="organizacion/secretariageneral">{% trans %}Secretaría General{% endtrans %}</a></li>
              <li><a href="gerencia">{% trans %}Gerencia{% endtrans %}</a></li>
              <li><a href="servicios/asesoriajuridica">{% trans %}Asesoría Jurídica{% endtrans %}</a></li>
              <li><a href="organizacion/defensor_universitario">{% trans %}Defensoría Universitaria{% endtrans %}</a></li>
              <li><a href="https://consejosocialuco.es/" target="_blank">{% trans %}Consejo Social{% endtrans %}</a></li>
            </ul>
          </li>
          <li><a href="gestion_administrativa.html">{% trans %}Gestión administrativa{% endtrans %}</a></li>
          <li><a href="organizacion/secretariageneral/normativa">{% trans %}Normativa{% endtrans %}</a></li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Centros, campus y departamentos{% endtrans %}</a>
            <ul style="display: block;">
              <li><a href="organiza/centros/veterinaria/">{% trans %}Facultad de Veterinaria{% endtrans %}</a></li>
              <li><a href="organiza/centros/etsiam/">{% trans %}Escuela Técnica Superior de Ingeniería Agronómica y de Montes{% endtrans %}</a></li>
              <li><a href="organiza/centros/medicinayenfermeria/">{% trans %}Facultad de Medicina y Enfermería{% endtrans %}</a></li>
              <li><a href="organiza/centros/ciencias/">{% trans %}Facultad de Ciencias{% endtrans %}</a></li>
              <li><a href="organiza/centros/filosofia/">{% trans %}Facultad de Filosofía y Letras{% endtrans %}</a></li>
              <li><a href="organiza/centros/derecho/">{% trans %}Facultad de Derecho y Ciencias Económicas y Empresariales{% endtrans %}</a></li>
              <li><a href="organiza/centros/educacion/">{% trans %}Facultad de Educación{% endtrans %}</a></li>
              <li><a href="organiza/centros/eps/">{% trans %}Escuela Politécnica Superior de Córdoba{% endtrans %}</a></li>
              <li><a href="organiza/centros/rlaborales/">{% trans %}Facultad de Ciencias del Trabajo{% endtrans %}</a></li>
              <li><a href="organiza/centros/EPSBelmez/">{% trans %}Escuela Politécnica Superior de Belmez{% endtrans %}</a></li>
              <li><a href="estudios/idep/">{% trans %}Instituto de Estudios de Posgrado{% endtrans %}</a></li>
              <li><a href="http://www.uco.es/sagradocorazon/" target="_blank">{% trans %}Centro de Magisterio "Sagrado Corazón" (Centro Adscrito){% endtrans %}</a></li>
              <li><a href="https://www.uco.es/organiza/centros/fisidec/" target="_blank">{% trans %}Centro Universitario Fisidec (Centro Adscrito){% endtrans %}</a></li>
              <li><a href="catedrasyaulas/intergeneracional/" target="_blank">{% trans %}Centro Intergeneracional 'Profesor Francisco Santisteban'{% endtrans %}</a></li>
              <li><a href="departamentos.html" target="_blank">{% trans %}Departamentos{% endtrans %}</a></li>
              <li><a href="informacion/campus_rabanales/" target="_blank">{% trans %}Campus de Rabanales{% endtrans %}</a></li>
            </ul>
          </li>
          <li><a href="servicios/sepa//es/biodiversidad#tab">{% trans %}Biodiversidad en Rabanales{% endtrans %}</a></li>
          <li><a href="internacional/movilidad/internacional-factsandfigures">{% trans %}Facts and figures{% endtrans %}</a></li>
          <li><a href="ucomapa.html">{% trans %}Cómo llegar{% endtrans %}</a></li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Información para estudiantes{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="pie/">{% trans %}Portal de Información para Estudiantes (PIE){% endtrans %}</a></li>
          <li><a href="docencia/grados/">{% trans %}Grados{% endtrans %}</a></li>
          <li><a href="estudios/idep/">{% trans %}Másteres y Doctorado{% endtrans %}</a></li>
          <li><a href="estudios/idep/menu-formacion-permanente">{% trans %}Títulos propios{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/organiza/centros/cefem/">{% trans %}Formación continua, Empleabilidad y Emprendimiento{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/transferencia/ucoprem2">{% trans %}Prácticas y Empleo{% endtrans %}</a></li>
          <li><a href="servicios/sega/">{% trans %}Servicios de Gestión Académica{% endtrans %}</a></li>
          <li><a href="catedras_y_aulas.html">{% trans %}Cátedras, aulas y fundaciones{% endtrans %}</a></li>
          <li><a href="https://ucodigital.uco.es/">UCOdigital</a></li>
          <li><a href="https://www.campusandaluzvirtual.es/">{% trans %}Campus Andaluz Virtual{% endtrans %}</a></li>
          <li><a href="https://www.juntadeandalucia.es/economiainnovacionyciencia/sguit/?q=grados">{% trans %}Preinscripción{% endtrans %}</a></li>
          <li><a href="internacional/extranjeros">{% trans %}Alumnos Internacionales{% endtrans %}</a></li>
          <li><a href="servicios/informatica/tesis">{% trans %}eTesis{% endtrans %}</a></li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Docencia{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="gestion/coordinacion_docencia">{% trans %}Unidad de Inspección{% endtrans %}</a></li>
          <li><a href="organizacion/calidad/innovacioneducativa">{% trans %}Formación e Innovación Docente{% endtrans %}</a></li>
          <li><a href="http://www.uco.es/poling/">{% trans %}Política lingüística{% endtrans %}</a></li>
          <li><a href="organizacion/calidad">{% trans %}Calidad{% endtrans %}</a></li>
          <li><a href="http://moodle.uco.es/moodlemap/">Moodle</a></li>
          <li><a href="gestion/sigma" target="_blank">SIGMA Campus Docente</a></li>
          <li><a href="eguiado/" target="_blank">{% trans %}E-guiado{% endtrans %}</a></li>
          <li><a href="https://www.gestion.uco.es/ucomunidad" target="_blank">UCOMUNIDAD</a></li>
          <li><a href="https://www.uco.es/sra">{% trans %}Sistema de Reserva de Aulas{% endtrans %}</a></li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Investigación{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="investigacion/portal/">{% trans %}Portal de Investigación{% endtrans %}</a></li>
          <li><a href="internacional/proyectosinternacionales">{% trans %}Proyectos Internacionales{% endtrans %}</a></li>
          <li><a href="investigacion/portal/scai">{% trans %}Servicio Central de Apoyo a la Investigación{% endtrans %}</a></li>
          <li><a href="investigacion/portal/saex">{% trans %}Servicio de Animales de Experimentación{% endtrans %}</a></li>
          <li><a href="investigacion/ucci">{% trans %}Unidad de Cultura Científica y de la Innovación{% endtrans %}</a></li>
          <li><a href="grupos-investigacion.html">{% trans %}Grupos de Investigación{% endtrans %}</a></li>
          <li><a href="investigacion/portal/HRS4R">{% trans %}HRS4R{% endtrans %}</a></li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Transferencia{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="https://www.uco.es/transferencia">{% trans %}Portal de Transferencia{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/transferencia/plan-propio">{% trans %}Plan Propio de Transferencia Galileo{% endtrans %}</a></li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Oferta Tecnológica{% endtrans %}
            </a><ul style="display: block;">
              <li><a href="https://www.uco.es/transferencia/ofertas-tecnologicas">{% trans %}Documento resumen de oferta tecnológica de la UCO{% endtrans %}</a></li>
            </ul>
          </li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Colaboración con empresas{% endtrans %}</a>
            <ul style="display: block;">
              <li><a href="https://www.uco.es/transferencia/colaboracion-con-empresas/contratos-universidad-empresa">{% trans %}Contratos Universidad Empresa{% endtrans %}</a></li>
              <li><a href="https://www.uco.es/transferencia/colaboracion-con-empresas/proyectos-colaborativos">{% trans %}Proyectos Colaborativos{% endtrans %}</a></li>
            </ul>
          </li>
          <li><a href="https://www.uco.es/transferencia/catedras">{% trans %}Cátedras Universidad-Empresas{% endtrans %}</a></li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}¿Quién es quién en tareas de transferencia?{% endtrans %}
            </a><ul style="display: block;">
              <li><a href="transferencia/quien-es-quien-en-las-tareas-de-transferencia-de-la-uco">{% trans %}Entrevistas a grupos de investigación de la UCO{% endtrans %}</a></li>
              <li><a href="transferencia/videos-investigadores-biotecnologia">{% trans %}Vídeos de investigadores relacionados con el área de la Biotecnología{% endtrans %}</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Servicios y vida universitaria{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="https://www.ucoshop.es/">{% trans %}Tienda UCO online{% endtrans %}</a></li>
          <li><a href="servicios/alojamiento/">{% trans %}Alojamiento{% endtrans %}</a></li>
          <li><a href="gestion/archivoyregistro">{% trans %}Archivo Registro y Administración Electrónica{% endtrans %}</a></li>
          <li><a href="vidauniversitaria/cooperacion/">{% trans %}Área de Cooperación y Solidaridad{% endtrans %}</a></li>
          <li><a href="gestion/gestioneconomica">{% trans %}Gestión Económica{% endtrans %}</a></li>
          <li><a href="servicios/sad/">{% trans %}Área de Inclusión{% endtrans %}</a></li>
          <li><a href="servicios/biblioteca/">{% trans %}Biblioteca{% endtrans %}</a></li>
          <li><a href="organizacion/calidad/">{% trans %}Calidad{% endtrans %}</a></li>
          <li><a href="gestion/contratacion">{% trans %}Contratación y Patrimonio{% endtrans %}</a></li>
          <li><a href="cultura/">{% trans %}UCOCultura{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/deportes">{% trans %}Deportes{% endtrans %}</a></li>
          <li><a href="servicios/actualidad/">{% trans %}Gabinete de Comunicación{% endtrans %}</a></li>
          <li><a href="http://www.uco.es/idiomas/">UCOidiomas</a></li>
          <li><a href="vidauniversitaria/igualdad/">{% trans %}Igualdad{% endtrans %}</a></li>
          <li><a href="gestion/contratacion/ofertas">{% trans %}Ofertas Comunidad Universitaria{% endtrans %}</a></li>
          <li><a href="informacion_webs.html">{% trans %}Otras webs y blogs{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/transferencia/ucoprem2">{% trans %}Prácticas y empleo{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/servicios/prevencion/es/inicio-promocion-salud">{% trans %}Promoción de la Salud{% endtrans %}</a></li>
          <li><a href="organizacion/protocolo/">{% trans %}Protocolo{% endtrans %}</a></li>
          <li><a href="http://www.uco.es/servicios/ucopress">{% trans %}Publicaciones{% endtrans %}</a></li>
          <li><a href="gestion/virtual">{% trans %}Secretaría Virtual{% endtrans %}</a></li>
          <li><a href="gestion/controlinterno">{% trans %}Servicio de Control Interno{% endtrans %}</a></li>
          <li><a href="servicios/informatica/">{% trans %}Servicio de Informática{% endtrans %}</a></li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Servicio de Prevención y Protección{% endtrans %}</a>
          <ul style="display: block;">
          <li><a href="servicios/prevencion/">{% trans %}Prevención de Riesgos y Protección Radiológica{% endtrans %}</a></li>
          <li><a href="servicios/sepa/">{% trans %}Protección Ambiental{% endtrans %}</a></li>
          </ul>
          </li>
          <li><a href="http://ucodigital.uco.es/">UCOdigital</a></li>
          <li><a href="gestion/gestioneconomica/ucompras-uco">{% trans %}UCOMPRAS{% endtrans %}</a></li>
          <li><a href="http://uco.es/uacds">{% trans %}Unidad de Apoyo Tecnológico a Centros, Departamentos y Servicios{% endtrans %}</a></li>
          <li><a href="https://www.uco.es/servicios/prevencion/es/inicio-unap">{% trans %}Unidad de Atención Psicológica{% endtrans %}</a></li>
          <li><a href="servicios/serviciosgenerales/">{% trans %}Unidad de Servicios Generales{% endtrans %}</a></li>
          <li><a href="gestion/unidadtecnica">{% trans %}Unidad Técnica{% endtrans %}</a></li>
        </ul>
      </li>
      <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Internacional{% endtrans %}</a>
        <ul style="display: block;">
          <li><a href="internacional/movilidad/">{% trans %}Programas de movilidad{% endtrans %}</a></li>
          <li><a href="internacional/proyectosinternacionales">{% trans %}Proyectos Internacionales{% endtrans %}</a></li>
          <li class="has-sub"><span class="submenu-button"></span><a href="#">{% trans %}Contacto e información para extranjeros{% endtrans %}
          </a><ul style="display: block;">
            <li><a href="internacional/extranjeros">{% trans %}Alumnos Internacionales{% endtrans %}</a></li>
          </ul>
          </li>
          <li><a href="http://uco.es/internacional/convenios/es/">{% trans %}Convenios Internacionales{% endtrans %}</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<!-- Sección principal -->
<section id="principal" class="row">
    <!-- Contenido -->
    <section id="contenido" class="col-lg-10 col-md-12 col-sm-12 col-xs-12">

      <div>
          <h2 class="resultados_busqueda">{%trans%}Resultados de la búsqueda{%endtrans%}</h2>
          <!-- Contenedor de resultados debajo del título -->
          <div class="item-busqueda">
            <ul id="results-container"></ul>
          </div>
      </div>
    </section>
    <section id="interes" class="col-lg-2 interesCol" style="display: block;">
      <h3>{% trans %}DE INTERÉS{% endtrans %}</h3>
      <div class="row">
          <div class="item col-lg-12">
              <a href="https://sede.uco.es/" previewlistener="true"><span style="display: block; padding: 15px 30px 15px 30px;height: 70px; width: 183px;">{% trans %}sede electrónica{% endtrans %}</span></a>
          </div>
      </div>
      <div class="row">
          <div class="item col-lg-12">
              <a href="transparencia-y-responsabilidad-social.html" previewlistener="true"><span style="display: block; margin-bottom: 5px; width: 183px;">{% trans %}transparencia y resp. social{% endtrans %}</span></a>
          </div>
      </div>
      <div class="row">
          <div class="item col-lg-12">
              <a href="https://sede.uco.es/bouco/" previewlistener="true"><span style="display: block; margin-bottom: 5px; padding: 15px 50px 15px 30px;">{% trans %}BOUCO{% endtrans %}</span></a>
          </div>
      </div>
      <div class="row">
          <div class="item col-lg-12">
              <a href="facturae" previewlistener="true"><span style="display: block; margin-bottom: 5px; padding: 15px 30px 15px 30px;">{% trans %}factura electronica{% endtrans %}</span></a>
          </div>
      </div>
      <div class="row">
          <div class="item col-lg-12">
              <a href="gestion/laboral" previewlistener="true"><span style="display: block; margin-bottom: 5px; padding: 15px 50px 40px 30px;">{% trans %}portal del personal{% endtrans %}</span></a>
          </div>
      </div>
      <div class="row">
          <div class="item col-lg-12">
              <a href="http://www.ceia3.es/" previewlistener="true"><span style="display: block; margin-bottom: 5px; padding: 15px 70px 15px 30px;">{% trans %}ceiA3{% endtrans %}</span></a>
          </div>
      </div>
  </section>
  
  <footer class="container-fluid footer-bar text-center custom-footer-background pt-4 pb-4">
      <div class="row align-items-center">
          <div class="col-md-12 menu-footer mb-3">
              <a href="mapaweb.html">{% trans %}Mapa Web{% endtrans %}</a> ·
              <a href="http://www.uco.es/servicios/actualidad/accesibilidad" target="_blank">{% trans %}Accesibilidad{% endtrans %}</a> ·
              <a href="contacto.html">{% trans %}Contacto{% endtrans %}</a> ·
              <a href="gestion/virtual/directorio-uco" target="_blank">{% trans %}Buscar Personas{% endtrans %}</a> ·
              <a href="https://www.uco.es/correo">{% trans %}Correo{% endtrans %}</a> ·
              <a href="https://www.uco.es/organizacion/areasecretariageneral/transparencia/integridad-y-buen-gobierno/" target="_blank">{% trans %}Sistema de Integridad UCO{% endtrans %}</a> ·
              <a href="organizacion/secretariageneral/proteccion-de-datos">{% trans %}Protección de Datos{% endtrans %}</a>
          </div>
        <div class="col-md-12 logos-footer mb-3">
            <a href="index.html" class="logo-footer"><img src="/theme/images/asset 22.png" width="50" height="50" alt="Universidad de Córdoba" title="Universidad de Córdoba"></a>
            <a href="http://www.ceia3.es" target="_blank" class="logo-footer"><img src="/theme/images/asset 23.png" width="50" height="50" alt="Universidad de Córdoba" title="Universidad de Córdoba"></a>
            <a href="https://www.uco.es/resiliencia" target="_blank" class="logo-footer"><img src="/theme/images/asset 24.jpeg" height="50" alt="Universidad de Córdoba" title="Fondos PRTR"></a>
            <a href="https://www.bancosantander.es/es/universidades" target="_blank" class="logo-footer"><img src="/theme/images/asset 25.jpeg" height="50" alt="Universidad de Córdoba" title="Santander Universidades"></a>
            <a href="https://www.uco.es/investigacion/portal/HRS4R" class="logo-footer"><img src="/theme/images/asset 26.png" height="50" alt="HR" title="HR"></a>
            <a href="http://www.uco.es/zonacardioasegurada/" target="_blank" class="logo-footer logo-zonacardio"><img src="/theme/images/asset 27.png" width="100px" alt="Zona Cardio asegurada" title="Zona Cardio Asegurada - Universidad de Córdoba"></a>
        </div>

        <div class="col-md-12 redes-sociales">
          <ul class="list-inline mb-3">
            <li class="list-inline-item"><a href="https://www.facebook.com/universidadcordoba" target="_blank" rel="nofollow" class="icon-facebook"></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/Univcordoba" target="_blank" rel="nofollow" class="icon-twitter"></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/company/universidad-de-cordoba" target="_blank" rel="nofollow" class="icon-linkedin"></a></li>
            <li class="list-inline-item"><a href="http://www.uco.es/servicios/actualidad/?format=feed" target="_blank" rel="nofollow" class="icon-rss"></a></li>
            <li class="list-inline-item"><a href="https://www.flickr.com/photos/univcordoba/" target="_blank" rel="nofollow" class="icon-flickr"></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/user/univcordoba" target="_blank" rel="nofollow" class="icon-youtube"></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/universidaddecordoba/" target="_blank" rel="nofollow" class="icon-instagram"></a></li>
            <li class="list-inline-item"><a href="https://www.tiktok.com/@universidadcordoba?lang=es" target="_blank" rel="nofollow" class="icon-tiktok"></a></li>
        </ul>
        </div>
    </div>
</footer>
<script>
  var idioma = '{{article.lang}}'
</script>

<script src="/theme/js/script.js"></script>
<script src="/theme/js/search.js" type="text/javascript"></script>
<script src="/theme/js/enlacesBusqueda.js"></script>
</body>
</html>